{% extends 'base.html.twig' %}

{% block title %}Listagem de Consultas{% endblock %}
{% block content %}

    <div class="wrapper">
        <div class="container" style="margin-top: 50px">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Data da Consulta</th> {#cria uma tabela com os campos seguintes#} 
                            <th scope="col">Nome do Cliente</th>
                            <th scope="col">Nome do Médico</th>
                            <th scope="col">Horário</th>
                           <th scope="col">ver</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for consulta in consultas %} {#loop para repetir para cada consulta existente#} 
                            <tr>
                                <td>{{consulta.DiaConsulta.format('d/m/Y')}}</td> {#pega os dados pertinentes da consulta atraves
                                 dos metodos get#} 
                                <td>{{consulta.getClienteIdcliente().getClinome()}}</td> {# listar Nome dos clientes #}
                                <td>{{consulta.getMedicoIdmedico().getMenome()}}</td>    {# listar Nome dos medicos #}
                                <td>{{consulta.getHorariosMedicoIdhorariosmedico().getHora()}}</td>       {# listar  Horarios de consultas #}
                         <td> <a href="{{ path('consulta_show', {'id': consulta.id}) }}">show</a></td> {# Visualizar a consulta selecionada
                        enviando o seu id para rota controler_view #}     
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}